body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
  font-family: $title-font !important;
}

.mt-40p{
  margin-top: 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.default-layout-content-container{
  margin: 100px auto 100px auto;
  width: 65%;

  @media screen and (max-width: $md-size) {
    width: 90%;
  }
}

.styled-button {
  background: $theme-gradient;
  border: none !important;
  color: white !important;
}

.styled-input {
    border: none !important;
    border-bottom: 1px solid #ccc !important;
    border-radius: 0 !important;
    outline: none !important;
    box-shadow: none !important;
}

.loading-spinner {
  display: block !important;
  position: fixed !important;
  width: 126px !important;
  height: 126px !important;
  margin-top: -63px !important; 
  margin-right: -63px!important;
  top: 50% !important;
  right: 50% !important;
}



