body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
  font-family: $title-font !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.default-layout-content-container{
  margin: 100px auto 100px auto;
  width: 55%;

  @media screen and (max-width: $sm-size) {
    width: 90%;
  }
}

.styled-button {
  background: linear-gradient(90deg,#ffba00 0%,#ff6c00 100%);
  border: none;
}



.dropdown-item{

  background-color: aqua;;
}

.dropdown-menu.show{

  a.dropdown-item{

    color: #FE6D00;

    &:hover{

      background-color: #FE6D00;
      color: white;
    }
    
  } 
 
}

