.sticky-top {
    height:0; 
    overflow:visible;
    box-sizing:border-box;
    
      .main-navbar {
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        min-height: 80px;
        box-shadow: 0 10px 30px rgba(0,0,0,.1);
        background: #fff;
        -webkit-transition: width 0.1s; 
        transition: width 0.1s;
        position: absolute;
        left: 20%;
        right: 20%;

        & .navbar-brand a {
            color:black;
        }

        & .search-container {
            width: 45%;
        }

        & .navbar-nav{
            & svg {
                font-size: 25px;
            }

            & .nav-link {
                &, & .dropdown-toggle {
                    font-size: 13px;
                    line-height: 2;
                    font-weight: bold;
                    color: black;
                    letter-spacing: 0.8px;
                    margin: 0 5px 0 5px;
                }

                & .dropdown-toggle {
                    background: inherit;
                    border:none;

                    &:focus {
                        box-shadow: none;
                    }

                }
                
                & .dropdown-item { 

                    &:hover {
                        color: white;
                        background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
                    }
                }

                
                & .active { 
                    background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
                    color: white;
                }

                }
            }

            & .nav-dropdown {
                & button {
                    background-color: inherit;
                    color: black;
                    border:none;
                    padding-top: 9px;

                    &:focus, &:active{
                        outline: none !important;
                        box-shadow: none;
                    }
                
                }
            }
        

        @media screen and (max-width: $lg-size) {
            position: fixed !important;
            left: 0;
            margin-top: 0;
            width: 100% !important;
            border-radius: 0;
        }
    }
    

    @media screen and (max-width: $md-size) {
        height: auto;
        & .main-navbar {
            margin-top: 0;
            width: 100% !important;
            border-radius: 0;
        }
    }
}

.sticky-nav {
    width: 65%;
    left: 20%;

    @media screen and (max-width: $lg-size) {
        left: 0;
        width: 100%;
    }

}

.common-header{
    background: url(#{$img-path}/banner/common-banner.jpg) center no-repeat; 
    height: 400px;

    & .page-title{
        color: white;
        font-weight: bold;
        top: 220px;
        position: absolute;
        left: 55%;
    }

    @media screen and (max-width: $sm-size) {
        background: $theme-gradient;
        height: 300px;


        & .page-title{
            top: 150px;
            left: 7%;
        }

    }
}