.listing-details {
    font-family: $primary-font;

    & .image-container {
        max-height: 540px;
        max-width: 540px;

        @media screen and (max-width: $md-size) {
            max-width: 100% !important;
        }

        & .image {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    & .purchase-details {
        padding: 60px 0 0 60px;

        @media screen and (max-width: $sm-size) {
            padding: 60px 0 0 0;
        }

        & .listing-price {
            color: #ffba00 ;
        }
    }

}

.review{
  font-family: $primary-font;
  background-color: #e0ebeb;
  height: 25px;
}

.reviewBorder{
  border-color: #e0ebeb;
  border-style: solid;
  border-width: thin;
  max-height: 600px;
  overflow-y: auto;
}
