.listings-container {

    & .filters {
        box-shadow: $generic-boxshadow;
        
        & .card {
            border:none;
            & .card-header {
                color : white;
                background-color: $listings-background;
            }
        }
    }

    & .pagination-container {
        & .page-link { 
           color: black;
           border-radius: 0 !important;
        }

        & .active .page-link{
            background: $theme-gradient;
            border-color: black;
        }
    }

    @media screen and (max-width: $sm-size) {
        & .listings-content {
            text-align: center;
        }
      }


}

.pagination-container {
    height: 55px;
    padding: 8px;
    background-color: $listings-background;
}

.small-prev-container{
    max-width: 240px;
    max-height: 240px;

    & img {
        width: 100%; 
        height: 100%; 
        object-fit: contain;
    }
}

.big-prev-container {
    max-width: 540px;
    max-height: 540px;

    & img {
        width: 100%; 
        height: 100%; 
        object-fit: contain;
    }

    @media screen and (max-width: 240px) {
       display: none;
      }
}