.listings-container {

    & .filters {
        box-shadow: $generic-boxshadow;
        
        & .card {
            border:none;
            & .card-header {
                color : white;
                background-color: $listings-background;
            }
        }
    }

    & .pagination-container {
        & .page-link { 
           color: black;
           border-radius: 0 !important;
        }

        & .active .page-link{
            background: linear-gradient(90deg,#ffba00 0%,#ff6c00 100%);
            border-color: black;
        }
    }


}

.pagination-container {
    height: 55px;
    padding: 8px;
    background-color: $listings-background;
}